body{
  background-color:#DFDFDF;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#App {
  width: 98%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  flex-direction: column; /* Stack the child components vertically */
}

.container {
  width: 40%;
  min-width: 60rem;
  max-width: 75rem;
  height: 100%;
}

p {
  line-height: 2.6rem;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

p span.code {
  font-family: monospace;
  color: var(--gray);
}

hr {
  margin: 4rem 0;
}

h1 {
  font-size: 4rem;
  color: #2E231D;
}

.content-container{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
  width: 99vw;  /* Set the height to 100% of the viewport width */
}

.content-wrapper{
  position: absolute;
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5%; /* Add horizontal padding */
  padding-top: 2%;
  margin-top: 175px;
}

.shadow-overlay {
  position: absolute;
  left:3%;
  width: 100%;
  height: 100%;
  background-color: #C3C3C3;
  border-radius: 20px;
  z-index: -1;
}

.app-button {
  background-color: #FF812C;
  color: white;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
}

.app-button:hover {
  background-color: #FF6600;
}

/*----------- Login Page -----------*/

.nearfile-heading{
  color: #FF812C;
}

.login-wrapper {
  width: 50%; 
  margin-top: 240px;
}

.shadow-overlay-login {
  top: 13%;
}

.login-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.content-column {
  display: flex;
  flex-direction: column;
  flex: 2;  
  color: #2E231D;
}

.app-button__login {
  padding: 13% 25%;
  border-radius: 20px; 
}

.nearsoftLogo {
  position: fixed;
  top: 4vh;
  left: 2vh;
  width: 127px; 
  height: 38px; 
  z-index: 1; 
}

/*----------- Welcome Page -----------*/

.app-button__welcome {
  padding: 10% 16%;
  margin-top: 10%;
}

.button-container {
  display: flex;
  gap: 10px; 
  align-items: center;
  margin-right: 20%;
}

.input-username {
  border: 1px solid #ddd; 
  border-radius: 10px; 
  padding: 10px; 
  margin-bottom: 10px; 
}

.input-usernameWelcome {
  width: 80%;
}

/*----------- Home Page -----------*/

.home-wrapper {
  width: 60%;
  height: 50%;
  padding-left: 40px;
  flex-direction: column; /* Stack the child components vertically */
}

.shadow-overlay-home {
  top: 7%;
}

.fileName {
  margin: 7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}

/*----------- Home Page // Logout section -----------*/

.icon-column {
  padding-top: 16px;
  padding-right: 10px;
}
.icon-person {
  color: #4B4B4B;
  font-size: 40px;
}

.username-text {
  margin-bottom: 0px;
  color: #4B4B4B;
}

.logout-section {
  position: absolute;
  top: 4vh;
  right: 1%;
  display: flex;
}

.app-button__logout {
  width: 80px; 
  height: 25px; 
  z-index: 1; 
}

.menu-wrapper {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

/*----------- Home Page // File Actions section -----------*/
.faded {
  opacity: 0.5; 
}

.not-faded {
  opacity: 1;
}

/*----------- Home Page // Files management section -----------*/

.files-header {
  padding-right: 10%;
  color: #4B4B4B;
}

.background {
  background-color: #C0C0C0;
  padding: 20px; 
  border-radius: 10px;
  position: absolute; /* Position the background div relative to the content-home-wrapper */
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
}

.file-actions-wrapper {
  margin-bottom: 20px; /* Add some space between the components */
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.uploaded-files{
  display: flex;
  justify-content: space-around;
}

.file-actions-wrapper button {
  background: none;
  border: none;
  padding: 0;
  padding-top: 3%;
  cursor: pointer;
}

.file-actions-wrapper button span {
  display: none;
}

.uploaded-docs {
  cursor: pointer;
  color: black; 
  text-decoration: none; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center;
}

.uploaded-docs.selected {
  border-color: #007bff; 
  background-color: rgba(0, 123, 255, 0.1);
  border-radius: 10%;
}

.uploaded-files-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  z-index: 1;
  width: 100%; /* full with of the parent */
  max-height: 250px; 
  overflow-y: auto;
  scrollbar-width: thin; 
  scrollbar-color: transparent; 

  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 10px
  }

  &::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 6px;
    height: 0px;
  }

  &::-webkit-scrollbar-track {
    background-color: #DFDFDF;
    border-radius: 6px;
  }
}

.content-home-wrapper {
  display: flex;
  flex-direction: row;
  position: relative; /* Ensure relative positioning for absolute positioning of children */
  padding: 3vh;
}

.file-column {
  display: flex;
  flex-direction: column;
}


/*----------- Home Page // Audit Log -----------*/

.auditlog-header {
  margin-right: auto; 
  padding-bottom: 4vh;
}

.log-entry {
  display: flex;
  align-items: flex-start;
}

.log-column {
  display: flex;
  flex-direction: column;
  flex: 2; /* Each column takes equal space */
  min-width: 0; /* Allow content to wrap */
}

.log-column > * {
  margin-bottom: 5px;
}

.content-padding {
  padding-left: 5px;
  padding-right: 95px;
}

.log-column .icon {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 5px;
}

/*----------- Home Page // POPUP Upload Document -----------*/
.upload-file-header {
  color: #FF812C;
  padding-left: 10px;
}

.section-title-upload-popup {
  display: flex;
  flex-direction: row;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #DFDFDF;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}

.display-block {
  display: block;
  width: 50%;
}

.display-none {
  display: none;
  background-color: brown;
}

.popup-section {
  margin-bottom: 20px;
}

.drag-drop-section {
  border: 2px dashed #000;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
}

/* Add additional styles for visual feedback when dragging over the drop area */
.drag-drop-section.drag-over {
  border-style: solid;
}

.app-button__upload {
  width: 100%; /* Set the width to 100% */
  padding: 15px; /* Adjust padding as needed */
}

.app-button_back{
  cursor: pointer; 
}

/*----------- Home Page // POPUP Share Document -----------*/
.note { 
  font-size: 13px;
}

.share-file-description {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #2E231D;
  padding-left: 1%;
}

.permissions-checkbox {
  display: flex;
  flex-direction: row;
}

.permissions-checkbox label {
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.permissions-checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 15px;
  background-color: #f4f4f4;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 6px;
}

.permissions-checkbox input[type="checkbox"]::before {
  content: '';
  display: block;
  width: 14px;
  border-radius: 2px; /* Border radius of the checkbox */
}

.permissions-checkbox input[type="checkbox"]:checked::after {
  content: '';
  display: block;
  width: 8px;
  height: 3px;
  border-left: 2px solid #2E231D; /* Change the color of the checkmark */
  border-bottom: 2px solid #2E231D; /* Change the color of the checkmark */
  transform: rotate(-45deg); /* Rotate the checkmark */
  margin-top: 3px; /* Adjust the position of the checkmark */
  margin-left: 4px; /* Adjust the position of the checkmark */
}

.input-usernameShare {
  margin-top: 2%;
  flex: 1;
}

.input-button-container {
  display: flex;
  flex-direction: column;
}

.app-button__share {
  flex: 0 0 auto;
  padding: 15px;
}

.readonly {
  background-color: #f4f4f4; 
  color: #888; 
  cursor: not-allowed; 
  outline: none;
}



