body{
  background-color:#DFDFDF;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#App {
  width: 98%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  flex-direction: column; /* Stack the child components vertically */
}

.container {
  width: 40%;
  min-width: 60rem;
  max-width: 75rem;
  height: 100%;
}

p {
  line-height: 2.6rem;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

p span.code {
  font-family: monospace;
  color: var(--gray);
}

hr {
  margin: 4rem 0;
}

h1 {
  font-size: 4rem;
  color: #2E231D;
}

.content-container{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
  width: 99vw;  /* Set the height to 100% of the viewport width */
}

.content-wrapper{
  position: absolute;
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5%; /* Add horizontal padding */
  padding-top: 2%;
  margin-top: 175px;
}

.shadow-overlay {
  position: absolute;
  left:3%;
  width: 100%;
  height: 100%;
  background-color: #C3C3C3;
  border-radius: 20px;
  z-index: -1;
}

.app-button {
  background-color: #FF812C;
  color: white;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
}

.app-button:hover {
  background-color: #FF6600;
}

/*----------- Login Page -----------*/

.nearfile-heading{
  color: #FF812C;
}

.login-wrapper {
  width: 50%; 
  margin-top: 240px;
}

.shadow-overlay-login {
  top: 13%;
}

.login-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-right: 30px;
}

.content-column {
  display: flex;
  flex-direction: column;
  flex: 2;  
  color: #2E231D;
  padding-right: 20px;
}

.app-button__login {
  padding: 13% 25%;
  border-radius: 20px; 
}

.nearsoftLogo {
  position: fixed;
  top: 4vh;
  left: 2vh;
  width: 127px; 
  height: 38px; 
  z-index: 1; 
}

/*----------- Welcome Page -----------*/
.button-container-welcome {
  width: 100%;
  gap: 10px; 
}

.app-button__welcome {
  padding: 3% 10%;
  margin-top: 5%;
  margin-right: 10px;
}

.app-button__welcome:focus {
  outline: 2px solid #FF812C; /* Adjust the width and color as needed */
}

.input-username {
  border: 1px solid #ddd;
  border-radius: 10px; 
  padding: 10px; 
  margin-bottom: 10px; 
}
.input-username:focus {
  outline: 2px solid #C0C0C0; /* Adjust the width and color as needed */
}

.input-usernameWelcome {
  width: 80%;
}

.input-button-container-welcome {
  width: 100%;
}

/*----------- Popups -----------*/
.popup-content {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  color: #2E231D;
  padding-top: 10px;
}

.right-section{
  padding-right: 20px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.textInfo{
  font-weight: bold;
  padding-left: 9px;
  color: #2E231D;
}

.message-popup{
  margin-top: 18px;
  color: #2E231D;
}

.buttons-content {
  padding-right: 10px;
}

.app-button__popup {
  padding: 10%;
  margin-top: 10px;
  margin-right: 10px;
}

.app-button__popup-width {
  padding: 2%;
  margin-top: 10px;
  margin-right: 10px;
}

.modalPopup {
  position: relative;
  z-index: 2; /* Ensure the modal appears above the background */
  background-color: white;
  border-radius: 10px;
}

.display-block-popup {
  display: block;
  width: 600px;
  padding: 10px;
}

/*----------- Warning Popup -----------*/

.button-container { /*TODO: THINK NOT NEEDED*/
  display: flex;
  flex-direction: column;
}

/*----------- Home Page -----------*/

.home-wrapper {
  width: 60%;
  height: 50%;
  padding-left: 40px;
  flex-direction: column; /* Stack the child components vertically */
}

.shadow-overlay-home {
  top: 7%;
}

.fileName {
  margin: 7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}

.blurred {
  filter: blur(1px); /* Apply blur effect to the Home component */
  pointer-events: none; /* Disable interactions with elements in the Home component */
}

/*----------- Home Page // Logout section -----------*/

.icon-column {
  padding-top: 16px;
  padding-right: 10px;
}
.icon-person {
  color: #4B4B4B;
  font-size: 40px;
}

.username-text {
  margin-bottom: 0px;
  color: #4B4B4B;
}

.logout-section {
  position: absolute;
  top: 4vh;
  right: 1%;
  display: flex;
}

.app-button__logout {
  width: 80px; 
  height: 25px; 
  z-index: 1; 
}

.menu-wrapper {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

/*----------- Home Page // File Actions section -----------*/
.faded {
  opacity: 0.5; 
}

.not-faded {
  opacity: 1;
}

.file-actions-wrapper button {
  position: relative;
}

.file-actions-wrapper button::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #C0C0C0;
  color: #2E231D;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.file-actions-wrapper button:hover::after {
  opacity: 1;
}

/*----------- Home Page // Files management section -----------*/

.files-header {
  padding-right: 10%;
  color: #4B4B4B;
}

.background {
  background-color: #C0C0C0;
  padding: 20px; 
  border-radius: 10px;
  position: absolute; /* Position the background div relative to the content-home-wrapper */
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
}

.file-actions-wrapper {
  margin-bottom: 20px; /* Add some space between the components */
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.uploaded-files{
  display: flex;
  justify-content: space-around;
}

.file-actions-wrapper button {
  background: none;
  border: none;
  padding: 0;
  padding-top: 3%;
  cursor: pointer;
}

.file-actions-wrapper button span {
  display: none;
}

.uploaded-docs {
  cursor: pointer;
  color: #2E231D; 
  text-decoration: none; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center;
}

.uploaded-docs.selected {
  border-color: #007bff; 
  background-color: rgba(0, 123, 255, 0.1);
  border-radius: 10%;
}

.uploaded-files-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  z-index: 1;
  width: 100%; /* full with of the parent */
  max-height: 250px; 
  overflow-y: auto;
  scrollbar-width: thin; 
  scrollbar-color: transparent; 

  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 10px
  }

  &::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 6px;
    height: 0px;
  }

  &::-webkit-scrollbar-track {
    background-color: #DFDFDF;
    border-radius: 6px;
  }
}

.content-home-wrapper {
  display: flex;
  flex-direction: row;
  position: relative; /* Ensure relative positioning for absolute positioning of children */
  padding: 3vh;
}

.file-column {
  display: flex;
  flex-direction: column;
}


/*----------- Home Page // Audit Log -----------*/

.auditlog-header {
  margin-right: auto; 
  padding-bottom: 4vh;
}

.log-entry {
  display: flex;
  align-items: flex-start;
}

.log-column {
  display: flex;
  flex-direction: column;
  flex: 2; /* Each column takes equal space */
  min-width: 0; /* Allow content to wrap */
}

.log-column > * {
  margin-bottom: 5px;
}

.content-padding {
  padding-left: 5px;
  padding-right: 95px;
}

.log-column .icon {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 5px;
}

/*----------- Home Page // POPUPups -----------*/

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 2; 
  
  justify-content: center;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.2); /* Semi-transparent black background */
  z-index: 1; /* Ensure the background appears behind the modal */
}

.modal {
  position: relative;
  z-index: 2; /* Ensure the modal appears above the background */
  background-color: white;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
}

.modal-info-popup {
  width: 600px;
}

.display-block {
  display: block;
  width: 50%;
}

.display-none {
  display: none;
}
/*----------- Home Page // POPUP Upload + Edit  -----------*/

.section-title-drop-popup {
  display: flex;
  flex-direction: row;
}

.drop-file-header {
  color: #FF812C;
  padding-left: 10px;
}

.app-button__drop {
  width: 100%; 
  padding: 15px; 
}

/*----------- Home Page // POPUP Upload Document -----------*/

.popup-section {
  margin-bottom: 20px;
}

.drag-drop-section {
  border: 2px dashed #555555;
  padding: 20px;
  background-color: #DADADA;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
}

/* Add additional styles for visual feedback when dragging over the drop area */
.drag-drop-section.drag-over {
  border-style: solid;
}

.app-button_back{
  cursor: pointer; 
}

/*----------- Home Page // POPUP Document Info -----------*/

.previous-edits-section {
  margin-top: 25px;
  color: #2E231D;
}

.info-prev-edits-title {
  margin-bottom: 5px;
}

.edit-list {
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc; 
  border-radius: 5px;
  background-color: #DADADA;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 540px;
}

.edit-list ul {
  list-style-type: none;
  padding: 0;
}

.edit-list ul li {
  cursor: pointer;
  padding: 5px 0;
}

.file-details-section {
  list-style-type: none;
  margin-top: 20px; 
  color: #2E231D;
  max-width: 100%;
}

.row {
  flex: 1 1 100%;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.column-lable{
  flex: 1;
}

.column:last-child {
  flex-basis: 90%; /* Adjust the width of the value column */
  max-width: 85%;
}

.modal-info {
  width: 555px;
  max-width: 100%;
  display: flex;
}

/*----------- Home Page // POPUP Share Document -----------*/
.share-file-header {
  color: #FF812C;
  padding-left: 1px;
  padding-bottom: 10px;
}

.note { 
  font-size: 13px;
  color: #2E231D;
}

.share-file-description {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #2E231D;
  padding-left: 1%;
}

.permissions-checkbox {
  display: flex;
  flex-direction: row;
}

.permissions-checkbox label {
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.permissions-checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 15px;
  background-color: #DADADA;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 6px;
}

.permissions-checkbox input[type="checkbox"]::before {
  content: '';
  display: block;
  width: 14px;
  border-radius: 2px; /* Border radius of the checkbox */
}

.permissions-checkbox input[type="checkbox"]:checked::after {
  content: '';
  display: block;
  width: 8px;
  height: 3px;
  border-left: 2px solid #2E231D; /* Change the color of the checkmark */
  border-bottom: 2px solid #2E231D; /* Change the color of the checkmark */
  transform: rotate(-45deg); /* Rotate the checkmark */
  margin-top: 3px; /* Adjust the position of the checkmark */
  margin-left: 4px; /* Adjust the position of the checkmark */
}

.input-usernameShare {
  background-color: #DADADA;
  margin-top: 2%;
  flex: 1;
  color: #2E231D;
}

.input-button-container {
  display: flex;
  flex-direction: column;
}

.app-button__share {
  flex: 0 0 auto;
  padding: 15px;
}

.app-button__share:focus {
  outline: 2px solid #FF812C; /* Adjust the width and color as needed */
}

.readonly {
  background-color: #DADADA; 
  color: #888; 
  cursor: not-allowed; 
  outline: none;
}



